<div class="centered">

  <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"
    onclick="togglePaw()" id="main-button">
    <div class="handle"></div>
  </button>
  <div class="paw-container">
    <img class="paw-image" alt="myImage" src="{{imgPath}}" />
  </div>
  <div>
    <h1 style="text-align:center;">Press the Button</h1>
  </div>
  <script>
    pawToggled = false;
    var myTimeout;

    function callbackToggle() {
      return function () {
        if (pawToggled) {
          document.getElementById("main-button").click();
        }
      }
    }

    function togglePaw() {
      if (!pawToggled) {
        // Runs when we toggle the button
        document.getElementsByClassName("paw-container")[0].classList.add("paw-extended");
        myTimeout = setTimeout(callbackToggle(), 600);
      } else {
        document.getElementsByClassName("paw-container")[0].classList.remove("paw-extended");
        clearTimeout(myTimeout);
      }

      pawToggled = !pawToggled;
    }
  </script>
</div>